<h1 id='main_title'>Сервис библиографических описаний</h1>
<div id='main'>
<p id="notice"><%= notice %></p>
<h3>Список записей</h3>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>

  </tbody>
</table>

<br>
</div>
