<h1 id='main_title'>Сервис библиографических описаний</h1>
<div id='main'>

  <button id='create_button' onclick="generateAuthor()">Автор</button>
  <button id='create_button' onclick="generateTitle()">Заголовок</button>

  <p>
    <a id="sentence" onclick="generateFields()">Вы хотите создать ссылку на книгу с одним автором?</a>
    <input id="sentence_type" type="hidden" value="booboobobo"></input>
  </p>


  <div id="mainform">
  </div>

  <button id='check' onclick="check()">Чекнуть</button>

</div>

<div class="dropdown">
  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown trigger
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
    <li>wdwd</li>
    <li>wdwd2</li>
  </ul>
</div>
